h1, #datasetbox, #charts {
	text-align: center;
}

#chart1, #chart2 {
	border: 1px solid black;
	width: 620px;
	height: 600px;
	/*display: inline-block;*/
}

#chart1 {
	float: left;
}

#chart2 {
	margin-left: 630px;
}